.start-arch-container {
  margin: 0 auto;
  width: 300px;
  position: relative;
  height: 100%;
}

.absolute {
  position: absolute;
}

.first-pair_star {
  top: 70px;
  position: absolute;
}

.second-pair_star {
  top: 203px;
  left: -48px;
  position: absolute;
}

.third-pair_start {
  top: 278px;
  right: 73px;
  position: absolute;
}

.fourth-pair_start {
  top: 65px;
  left: 104px
}

.fifth-pair_star {
  top: 139px;
  left: 133px;
}