$left: 150px;
$topInitial: 0;

.secondPair {
  margin-top: 90px;
}

.grid-arch-container {
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.fourth-pair_6 {
  position: absolute;
  top: 0;
  left: $left;
}

.fifth-pair_6 {
  position: absolute;
  top: 143px;
  left: $left;
}

.sixth-pair_6 {
  position: absolute;
  top: 286px;
  left: $left;
}